/* universal selector */
* {
    margin: 0;
    padding: 0;
  font-family: "Inter", sans-serif;
}
nav {
  width: 100%;
  background-color: #FFFFFF;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.logo img {
  width: 139px;
  height:60px ;
}
.ul {
  width: 365px;
  height: 24px; 
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.list-item li{
  list-style-type:none;
  
}
.list-item li a{
text-decoration: none;
 color: #000000;
 font-size: medium;
}
.btn {
  width: 164px;
  height: 44px;
  padding: 12px 16px;
  background-color: #30B868;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.btn:hover {
  background-color: #FF4D4D;
}