/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* navbar section */
nav {
  width: 100%;
  background-color: #FFFFFF;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.logo img {
  width: 139px;
  height:60px ;
}
.ul {
  width: 365px;
  height: 24px; 
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.list-item li{
  list-style-type:none;
  
}
.list-item li a{
text-decoration: none;
 color: #000000;
 font-size: 16px;
 font-weight: 500;
}
.btn {
  width: 164px;
  height: 44px;
  padding: 12px 16px;
  background-color: #30B868;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.btn:hover  {
  background-color: #FF4D4D;
}
/* hero section */
.hero-section {
  width: 100%;
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/hero-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 
}
.inner-hero {
  width: 80%;
  height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.inner-hero-first {
  display: flex;
  justify-items: center;
  align-items: center ;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 1000px;
  background-color: #FBFBFB;
  color: #30B868;
}
.heading-1 {
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF
}
.heading-2 {
    font-size: 72px;
  font-weight: bold;
  color: #30B868
}
 .para {
  font-size: 18px;
  font-weight: 400;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 24px;
}
.btn-1 {
 padding: 12px 16px;
 width: 251px;
 height: 52px;
}

.btn-2{
  background-color: #30B868;
  color: #FBFBFB;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}
.btn-3 {
  background-color: transparent;
  color: #FBFBFB;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #FBFBFB;
  border-radius: 4px

}
.btn-2:hover  {
  background-color: #FF4D4D
}
.btn-3:hover  {
  background-color: #FF4D4D
}
.primary-button-2 {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.notes-section h1 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
.notes-section p {
  font-size: 16px;
  font-weight: normal;
  color: #627382;
  height: 20px;
 ;
}
.notes-card-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notes-card-parent .notes-card h2 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}
.notes-card-parent .notes-card p {
  font-size: 16px;
  font-weight: normal;
  color: #627382;
}